---
export interface Props {
	title: string;
	frontmatter?: { title: string }
}
import Layout from '../layouts/Layout.astro';
---

<Layout title={Astro.props.frontmatter?.title ?? Astro.props.title}>
	<div class="wrapper">
		<slot />
	</div>
</Layout>

<style>
	body {
		background-color: #EEE;
		color: #333;
	}
	.wrapper {
		background-color: white;
		max-width: 60rem !important;
	}
</style>
<style is:global>
	h1, h2, h3, h4 {
		color: black;
		font-weight: bold;
	}
	h1:not(:first-child) {
		margin-top: 10rem;
	}
	h3 {
		margin-top: 3rem;
	}
</style>